[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/bundle/coc.nvim"]
	path = .vim/bundle/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
