snippet licp
	{{list-item-content-popover
		elementPrefix=${1:elementPrefix}
		label=${2}
		value=${3}
	}}

snippet licpl
	{{#list-item-content-popover
		elementPrefix=${1:elementPrefix}
		label=${2}
		value=${3}
	}}
		${4}
	{{/list-item-content-popover}}
