snippet licp
	{{list-item-content-popover
		elementPrefix=elementPrefix
		label='${1}'
		priority='${2:tertiary}'
		value=${3}
	}}

snippet licpc
	{{#list-item-content-popover
		elementPrefix=elementPrefix
		label=${1}
		priority='${2:tertiary}'
		value=${3}
	}}
		${4}
	{{/list-item-content-popover}}
